.heading {
  margin-bottom: 1.2rem;
  margin-top: 2rem;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list li {
  margin-bottom: 2rem;
}

.title {
  font-size: 1.25rem;
}

.meta {
  display: flex;
  gap: 2rem;
  margin-bottom: 0.4rem;
}

.metaitem {
  display: flex;
  gap: 0.3rem;
}

.tags {
  font-size: 0.75rem;
}
.tags a:after {
  content: "  -  ";
}
.tags a:last-child:after {
  content: "";
}

.date {
  font-size: 0.75rem;
  color: rgb(107, 107, 107);
}
