.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.8rem;
  padding: 0 4.8rem;
}

.navbar {
  display: block;
}

.brand {
  font-size: 2rem;
}

.brand a {
  color: #aaa;
}

.list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.item {
  font-size: 1.2rem;
  font-weight: 500;
}
