.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 2rem;
}

.title {
  font-size: 2rem;
}

.list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
  position: absolute;
  right: 0;
  padding-right: 4.8rem;
}

.item {
  font-size: 1.2rem;
}
